.item-card {
    text-transform: capitalize;
    min-width: 12rem;
    max-width: 13rem;
    border-radius: 13px;
}

.item-card-body {
    padding: 0.75rem;
}

@media (min-width: 576px) {
    .card-deck .card {
        margin: 0px 0px 16px 16px;
    }
}

@media (max-width: 576px) {
    .item-card {
        max-width: 100%;
    }
}

.item-card-body-text p {
    font-size: 12px !important;
}