.modal.fade .modal-dialog {
    transform: translateY(1000px);
}

.modal.show .modal-dialog {
    transform: translateY(200px);
}

.modal-footer {
    justify-content: space-evenly;
}

input[type='checkbox'], input[type='radio']{
    vertical-align: middle;
}

label {
    margin-bottom: 0;
}

.div-form {
    margin-bottom: 5px;
}